@import '../../../../styles/variables.scss';

.pokemon-card{
  width: 140px;
  height: 170px;
  display: inline-block;
  border-radius: 15px;
  margin: 5px;
  // background-color: #f4f8055d;
}

.card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-align: center;
}

.card-container img {
  height: 120px;
  width: 120px;
}
.card-container h2{
  font-size: 1.8rem;
  color: $font-title-color;
}

.card-container p {
  font-size: 1.5rem;
  color: font-text-color;
}

@media (min-width: 550px) {
  .pokemon-card{
    width: 220px;
    height: 240px;
    margin: 10px;
  }

  .card-container img {
    height: 170px;
    width: 170px;
  }
}
