.container{
  display: flex;
  justify-content: center;
}

mat-form-field{
  width: 90%;
  margin-bottom: 10px;
}


@media  (min-width: 550px) {
  mat-form-field{
    width: 80%;
    margin-bottom: 20px;
  }
}

